body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-bar button {
  padding: 5px;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 100px 20px 20px 20px;
}

.new-products,
.featured-section,
.categories {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.new-products h2,
.featured-section h2,
.categories h2 {
  margin-top: 0;
}

.product-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card p {
  margin: 10px 0;
}

.product-card button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #555;
}

.banners {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.banner-left,
.banner-right {
  cursor: pointer;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-left {
  left: 0;
}

.banner-right {
  right: 0;
}

.product-listings {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.product-listings h2 {
  text-align: center;
  margin-top: 0;
}

.product-listings #product-listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.contact-info p,
.footer-logo p {
  margin: 5px 0;
}
